[alias]
  lol = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lool = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all 
  pr = push -u origin HEAD

[pull]
  rebase = false

[init]
  defaultBranch = master

[user]
  name = cagri
  email = muysal.cagri@gmail.com
 
[http]
	postBuffer = 157286400
	version = HTTP/1.1
